<style>
    #div-u {
        background-color: aquamarine;
        text-decoration: none;
    }

    a {
        color: #a94442;
        text-decoration: none;
        font-size: x-large;
    }

        a:hover {
            text-decoration: none;
        }
</style>

<ul style="list-style-type:none" id="div-u">
    <li class="div-cate">
        <a href="/Ads/QuanLyTin">Quản lý rao vặt</a>
    </li>
    <li class="div-cate">
        @{
            if (Session["TENDANGNHAP"] != null)
            {
                var a = Session["TENDANGNHAP"];
                <a href="@Url.Action("DetailInfo","Ads",new { id = a.ToString()})">Thông tin cá nhân</a>
            }
        }

    </li>
    <li class="div-cate">
        <a href="/Ads/Index">Thêm tin rao vặt</a>
    </li>
</ul>
